# ======================
# IDE / Editor
# ======================
.idea/
.vscode/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Data / Large files
# ======================
*.mp4
*.mov
*.MOV
*.ulg
*.csv
*.pkl

# Ignore all data folders
data/
sim/data/
ground_testing/videos/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
